/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

@media (max-width: 1450px) {
   .header-container {
display: flex;
flex-direction: column;
font-size: 24px;
text-align: center;
   }
.container__table {
      width: 100%;
}
.carousel-item > img {
   width: 95%;
}
.footer__row{
      font-size: 20px;
      text-align: center;
}
.copy{
      margin-top: 40px;
      font-size: 14px;
      text-align: center;
}
.footer__container{
      display: flex;
      flex-direction: column;
}
}

header {
   width: 100%;
   background: url(/img/motobackground.png) center no-repeat;
   background-size: cover;
   height: 1000px;
}
.container{
   font-size: 16px;
}
.wrapper{
   background-color: #000000;
}
.logo{
   margin-top: 10px;
}
.ssilka{
   color: aliceblue;
}
.ssilka:hover{
   color: aliceblue;
}

h1{
   color: aliceblue;
   font-size: 32px;
   text-align: center;
}

h2{
   color: aliceblue;
   font-size: 28px;
   text-align: center;
}

.carousel-item > img {
   width: 50%;
}

.karta{
   width: 100%;
   padding: 20px;
}

footer{
   /* height: 150px; */
   width: 100%;
   background-color: black;
   border-top: 2px #565454 solid;

}
.footer__row{
   margin-top: 10px;
   width: 100%;
   text-align: center;
   font-size: 18px;
}
.footer__container{
   margin: 0 auto;
   display: flex;

   align-items: center;
}
.copy{
   display: inline-block;
   margin-left: 30px;
}
.container__brands{
   width: 100%;
   background-color: white;
   margin-top: 20px;
}
.brands{
margin-left: 10%;
margin-right: 10%;
}
.img__brands{
   margin: 20px;
}
.partners-container{
   margin-left: 30%;
   width: 40%;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container__text-about{
   width: 80%;
   margin: 0 auto;
   color: aliceblue;
   font-size: 16px;
}
.container__table{
   width: 80%;
   margin: 0 auto;
}